---
---

@import
"newBase";

main{
	// top: 15em;
	position: relative;
	max-width: 1080px;
	margin: 0 10em;
	padding: 0 0 5rem 0;
	overflow: hidden;

	@media (max-width: $breakpoint-phone) {
		margin: 5%;
		padding: 0;
	}

	#latest-post{
		position: relative;
		display: -webkit-flex;
  		display: -ms-flexbox;
  		display: flex;
  		overflow: hidden;
  		margin-bottom: $section-space * 2;

  		@media (max-width: $breakpoint-phone) {
  			min-height: 30em;
  			display: block;
  			border-top: 8px solid $accent-colour;
  			padding-top: 8px;
  			width: 100%;
  			position: relative;
  			margin-bottom: $section-space;
  		}
		
	    figure#feature-image{
	    	flex: $section-big;
	   		margin: 0 $section-space $section-space 0;
	   		overflow: hidden;
	    	width: $section-big;
	    	// height: 70vh;

	    	@media (max-width: $breakpoint-phone) {
	    		width: 100%;
	    		height: auto;
	    	}

	    }
	    
	    #latest{
	    	flex: $section-small;
	    	display: inline-block;
	    	width: $section-small;
	    	border-top: 8px solid $accent-colour;
	    	margin-bottom: $section-space;
	    	max-height: 70vh;
    		overflow: hidden;
	    	// min-height: 25em;

	    	@media (max-width: $breakpoint-phone) {
	    		display: block;
				width: 100%;
				border: 0;
				margin: 0;
				max-height: none;
	    	}

	    	#latest-date{
	    		font-size: 0.7em;
	    		font-family: $heading-font-family;
	    		color: $accent-colour;
	    		font-weight: bold;

	    		@media (max-width: $breakpoint-phone) {
	    			display: none;
	    		}
	    	}

	    	h1{
		    	font-size: 2em;
		    	color: $accent-colour;
	    		margin: 0.5em 0 0.5em 0;
	    		line-height: 1.2;

	    		@media (max-width: $breakpoint-phone){
	    			font-size: 1.5em;
	    		}
	    	}

	    	.feature-post{
				max-height: 60vh;
				overflow: hidden;

				@media (max-width: $breakpoint-phone) {
					max-height: none;
				}
	    	}

	    	#latest-excerpt{
				// font-size: 0.8em;

				@media (max-width: $breakpoint-phone){
	    			font-size: 0.9em;
	    		}
	    	}

	    	.read-more{
	    		// position: absolute;
    			bottom: 0;
	    		text-decoration: none;
	    		font-size: 0.8em;
	    		font-weight: bold;
	    		font-family: $heading-font-family;
	    		border-bottom: 1px solid $accent-colour;
    			padding-bottom: .25em;
    			margin-bottom: $section-space;

    			@media (max-width: $breakpoint-phone){
    				width: 100%;
				    position: relative;
				    bottom: 0;
				    font-size: 0.8em;
				    font-weight: bold;
				    font-family: "Istok Web", sans-serif;
				    border-bottom: 1px solid #01b170;
				    padding-bottom: .25em;
				    margin-bottom: 3%;
    			}
	    	}
	    }
	}

	#all-posts{
		padding-top: $section-space;
		position: relative;
  		overflow: hidden;

  		.post{
  			min-height: 30em;
			border-top: 8px solid $accent-colour;
    		padding-top: 8px;
    		float: left;
    		width: 31.3%;
		    position: relative;
		    margin-bottom: $section-space;
		    margin-left: $section-space;
		    margin-right: 0;

		    @media (max-width: $breakpoint-phone) {
				width: 100%;
				height: inherit;
				margin-left: 0;
				min-height: 0;
		    }

		    .post-thumb{
		    	position: relative;
				height: 10em;
				overflow: hidden;
		    }

		    .post-title{
		    	font-family: $heading-font-family;
		    	font-size: 1.5em;
		    	color: $accent-colour;
	    		margin: 1em 0 0 0;
	    		line-height: 1.2;
	    		height: 2.5em;

	    		@media (max-width: $breakpoint-phone) {
					height: inherit;
		    	}

	    		a{
	    			text-decoration: none;
	    		}
		    }

		    .post-excerpt{
				font-size: 0.9em;
				height: 10em;
				overflow: hidden;

				@media (max-width: $breakpoint-phone){
					height: auto;
				}
		    }

		    .read-more{
		    	width: 100%;
	    		position: absolute;
    			bottom: 0;
	    		font-size: 0.8em;
	    		font-weight: bold;
	    		font-family: $heading-font-family;
	    		border-bottom: 1px solid $accent-colour;
    			padding-bottom: .25em;
    			margin-bottom: $section-space;

    			@media (max-width: $breakpoint-phone) {
    				position: relative;
    				padding-top: 0;
    			}

    			a{
    				text-decoration: none;
    			}
	    	}
  		}

  		.post:nth-child(3n+1){
  			margin-left: 0;
  		}
	}
}