---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url(http://fonts.googleapis.com/css?family=Tangerine:700|Open+Sans);
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans',"Helvetica Neue", Helvetica, 'Lato', sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 145%;

$spacing-unit:     30px;

$text-color:       #202425;
$background-color: #f5ece7;
$brand-color:      #01b170;

$grey-color:       #202425;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$transition-time: .8s;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"sidebar",
"content",
"syntax-highlighting";
