---

---

@import
"newBase";

/* Controls the post pages appearance */

.wrap {
	max-width: 1360px;
	margin: 0 auto;
	height: auto;
}

article {
	position: relative;
	max-width: 1280px;
	margin: 0 10em;
	overflow: hidden;

	.title-section {
		border-top: 8px solid #ff4338;
		float: left;
	    margin: 0 3% 3% 0;
	    width: 22.75%;

	    .post-title {
	    	font-size: 2em;
    		padding: .25em 0 .75em 0;
    		line-height: 1.2;
	    }

	    .intro {
	    	font-size: 1.2em;
    		line-height: 1.2;
    		text-transform: none;
	    }

	    dl {
	    	margin-top: 2.5em;

	    	dt {
	    		display: inline-block;
	    		border-bottom: 2px solid #ff4338;
				margin-bottom: .25em;
	    	}

	    	dd {
				display: block;
	    	}

	    	dt+dd {
	    		padding-bottom: 1.5em;
	    	}
	    }
	}
}

.main-img {
	float: left;
    margin: 0 0 3% 0;
    width: 74.25%;
	position: relative;
    padding-bottom: 5em;

    #feature-image{
		width: 100%;
    }
}

main {
	float: right;
    margin: 0 0 3% 0;
    width: 74.25%;

    .post-img {
    	position: absolute;
	    left: 0;
	    max-width: 22.75%;
	    overflow: hidden;
	    height: auto;
	    transition: max-width 500ms cubic-bezier(0.455,.03,.515,.955);

	    img {
	    	max-width: 100%;
	    }
    }


.share {
	float: left;
    margin: 0 3% 3% 0;
    width: 22.75%;	
}
}

