@import url(http://fonts.googleapis.com/css?family=Tangerine:700|Open+Sans);

html{/*
   background:  linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),url(/resources/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

body {
  padding:0px;
  margin:0px;
  font:14px/1.5 'Open Sans',"Helvetica Neue", Helvetica, 'Lato', sans-serif;
  color:#dbd2bb;
  font-weight:300;
}

header {
  background: linear-gradient(
      rgba(107, 103, 92, 0), 
      rgba(107, 103, 92, 0)
    ),url(/resources/bg.jpg) no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: absolute;
  top:0px
  left:0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-size: 1.1em;
}

header .overlay {
     width:100%;
    height:100%;
    position:absolute;
    background-color:#6b675c;
    opacity:0.8;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
}

header .overlay:hover{
    width:100%;
    height:100%;
    position:absolute;
    background-color:#6b675c;
    opacity:0.5;
}

header .nav {
  position: fixed;
  top:30px;
  left:0px;
  right:0px;
  list-style: none;
  margin:0px;
  padding: 30px 10% 0 10%;
  /*padding: 0px 350px 0px 200px;*/
  text-align: justify;
}

header .nav:after{
  content: '';
    display: inline-block;
    width: 100%;
}

header .nav ul {
    list-style-type: none;
}

header .nav li {
  text-align: center;
  display: inline-block;
}

header .nav a {
  display:inline-block;
  padding: 0px;
  color: #dbd2bb;
  text-decoration: none;
}

header .motto {
    font-size: 3em;
    /*color: white;*/
    
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 45%;
    width: 100%;
}

header .motto strong {
    font-family: 'Tangerine';
    font-size: 3em;
}

