---
# This is the stylesheet for index.html
---

@import url(http://fonts.googleapis.com/css?family=Tangerine:700|Open+Sans);

// Our variables
$base-font-family: 'Open Sans',"Helvetica Neue", Helvetica, 'Lato', sans-serif;
$base-font-size:   15px;
$text-color:       #202425;
$text-light: lighten($text-color, 40%);
$text-dark:  darken($text-color, 25%);

$background-color: #f5ece7;
$brand-color:      #01b170;

$spacing-unit:     30px;

$transition-time: .5s;

html{
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  padding:0px;
  margin:0px;
  font:$base-font-size $base-font-family;
  color:$text-color;
}

*{
  -o-transition: $transition-time;
  -ms-transition: $transition-time;
  -moz-transition: $transition-time;
  -webkit-transition: $transition-time;
  transition: $transition-time;
}

img{
  -o-transition: $transition-time;
  -ms-transition: $transition-time;
  -moz-transition: $transition-time;
  -webkit-transition: $transition-time;
  transition: $transition-time;
}

header {
  display:block;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1.2rem;

  .nav {
    background-color: $background-color;
    position: relative;
    height:20vh;
    left:0;
    right:0;
    margin:0;
    list-style: none;
    padding: 0% 10% 0 10%;
    text-align: justify;
    z-index: 1000000;
  }

  .nav:after{
    content: '';
    display: inline-block;
    width: 100%;
  }

  .nav ul {
    list-style-type: none;
  }

  .nav li {
    position: relative;
    top: 50%;
    text-align: center;
    display: inline-block;
  }

  .nav a {
    display: inline-block;
    padding: 0;
    color: $text-color;
    text-decoration: none;
  }

  .nav a:hover{
    color: $brand-color;
    text-decoration: overline;
  }
}


.about{
  background: $background-color;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  font-size: 1rem;
  
  .text{
    margin-top: 5vh;
    z-index: 9999;
    width: 100%;
    font-size: 1em;
    text-align: center;
    color: $text-color;
  }

  h1{
    color: $text-dark;
    font-family: 'Tangerine';
    font-size: 5em;
    text-align: center;
  }

  ul{
    list-style-type: none;
    padding: 0px;

    li {
      text-align: center;
    }
  }

  a{
    color: $brand-color;
    text-decoration: none;
  }

  a:hover{
    color: $brand-color;
    text-decoration: underline;
  }
}

.portfolio{
  padding: 5vh 10% 10vh 10%;
  background: #FFFFFF;
  font-size: 1rem;

  h1{
    color: $text-dark;
    font-size: 5em;
    font-family: 'Tangerine';
    margin-bottom: 0;
  }

  .bx-wrapper{
    margin-top: $spacing-unit;
  }
}

.blog{
  background: $brand-color;
  color: white;
  font-size: 1rem;
  padding: 5vh 10% 10vh 10%;
  overflow: hidden;
  text-align: left;
  position: relative;

  .title{
    font-size: 5em;
    font-family: 'Tangerine';
    margin-bottom: 0;
    text-align: left;
  }

  a{
    color: $background-color;
    text-decoration: none;
  }

  .blog-index{
    width: 100%;
    display: inline-block;
    float: left;

    .featureImage{
      display: inline-block;
      float: left;
      margin-top: 2vh;
      height: 55vh;
      width: 50%;
      background-color: #f5ece7;
      opacity: 0.7;
      transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
    }

    .featureImage:hover{
      opacity: 1;
    }

    #blog-entry{
      display: inline-block;
      width: 47%;
      padding-left: 3%;

      h1{
        font-size: 1.2em;
      }

      h2{
        font-size: 1.1em;
      }

      h3, h4{
        font-size: 1em;
      }

      .entry-content{
        height:45vh;
        width: 100%;
        overflow: hidden;
      }

      .more{
        display: inline-block;
        margin-top: 3%; 
      }

      .more:hover{
        display: inline-block;
        text-decoration: underline;
      }
    }
  }
}

.contact{
  background: $text-color;
  color: white;
  margin: auto;
  font-size: 1rem;
  padding: 5vh 10% 10vh 10%;
  text-align: left;
  vertical-align: top;

  .title{
    font-size: 5em;
    font-family: 'Tangerine';
    margin-bottom: 0;
    text-align: left;
  }

  .formLabels{
    display: inline-block;
    vertical-align: top;
    width: 5%;
  }

  .formFields{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding-left: 5%;
  }

  .field{
    font-family: $base-font-family;
    width: 100%;
    background-color: $background-color;
    color: $text-color;
  }

  .submit {
    width: 50%;
    -webkit-border-radius: 33;
    -moz-border-radius: 33;
    border-radius: 25px;
    color: $background-color;
    background-color: $text-color;
    padding-top: 5%;
    padding-bottom: 5%;
    border: solid $background-color 2px;
    text-decoration: none;
    font-size: 1em;
    float: right;
  }

  .submit:hover {
    background: $background-color;
    color: $text-color;
    text-decoration: none;
    cursor: pointer; 
    cursor: hand;
  }

  #got-your-email .confirmation {
    display: none;
    color: $brand-color;
  }

  #got-your-email:target .confirmation {
    display: inherit;
  }

  .alternatively{
    float: right;
    display: inline-block;
    width: 40%;
    margin: auto;
    text-align: center;
  }

  .alternatively p{
    padding-bottom: 5%;
  }

  .icon{
   border:0 !important;
   padding: 3%;
   opacity:0.6;
 }

 .contact .icon:hover{
   border:0 !important;
   padding: 3%;
   opacity:1;
 }
}

@media only screen and (max-width: 950px) and (min-width: 650px) {
  .contact .formLabels .formLabel {
    margin-bottom: 30px;
  }
  .contact .alternatively{
    position: relative;
    top: 30px;
  }
  .contact .field {
    margin-bottom: 15px;
    position: relative;
    top: 22px;
  }
  .contact .formFields{
    padding-left:0;
    margin-left:0;
    position:relative;
    left:-6%;
  }
}


@media only screen and (max-width: 650px) {
  .blog .blog-index .featureImage{
    display:none;
    visibility: hidden;
  }

  .blog .blog-index #blog-entry{
    width: 100%;
    padding: 0;

    .entry-content{
      height: auto;
    }
  }

  .contact .formLabels .formLabel {
    margin-bottom: $spacing-unit*1.5;
  }
  .contact .formFields{
    width: 93%;
    padding-left:0;
    margin-left:0;
    position:relative;
    left:-6%;
  }
  .contact .field {
    margin-bottom: $spacing-unit;
    position: relative;
    top: 22px;
  }
  .contact .submit{
    width: 100%;
  }
  .contact .alternatively{
    margin-top: $spacing-unit*2;
    display: block;
    float: none;
    width: 100%;
  }
  .contact #got-your-email:target .confirmation{
    text-align: center;
  }
}
