.page-content{
	width:70%;
	display: inline-block;
	float: right;

	div.wrapper{
		width: 80%;
		margin: auto;
		padding-top: 15vh;
		// padding-bottom: 10vh;


        // For the project listings page
        h1.page-heading{
            font-size: 2.2em;
            line-height: 1.5em;
            margin-bottom: $spacing-unit;
        }


        //For the blog listings and blog post pages
		section{
			background: white;
			margin-bottom:10vh;
            padding: 10%;
            border: 1px solid rgba(0, 0, 0, 0.15);
        }

        section.post{
            padding: 0;
            font-size: 1rem;
        }
    }
}

/**
 * Inside .post
 */
.post-title {
    font-size: 2.2em;
    line-height: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: $spacing-unit;
}

.post-content {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: $spacing-unit;

    p {
        font-size: 1em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;

        // @include media-query($on-laptop) {
        //     font-size: 28px;
        // }
    }

    h3 {
        font-size: 1em;
        font-weight: bold;


        // @include media-query($on-laptop) {
        //     font-size: 22px;
        // }
    }
}
 

div.wrapper section.post .meta{
    font-size: 0.8em;
    border:none;
    background: rgba(0, 0, 0, 0.1);
    padding-top: 10%;
    padding-bottom: 10%;
    padding: 5% 10% 5% 10% ;
    margin-bottom: 0;

    p{
        margin: 0;
    }

    .icons{
        width: 13px;
    }
}
