/**
 * Site header
 */
 .site-header {
    /* border-top: 0px solid $grey-color-dark;
    border-bottom: 0px solid $grey-color-light;
    min-height: 56px; */

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 1.5em;
    line-height: 2.5em;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited ,
    &:hover {
        color: #202425;
        text-decoration: none;
    }
}

.navPanel{
    width: 100%;
    //margin-right: auto;
    //margin-left: auto;
    background: linear-gradient(
      rgba(107, 103, 92, 0), 
      rgba(107, 103, 92, 0)
      ),url(/resources/bg.jpg);
    background-size:cover;  
    height:80vh;

    .overlay {
        position:absolute;
        width:100%;
        height:80vh;
        top:0px;
        left:0px;
        background-color:#f5ece7;
        opacity:0.8;
        transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
    }

    .overlay:hover{
        position:absolute;
        top:0px;
        width:100%;
        height:80vh;
        background-color:#FFFFFF;
        opacity:0.6;
    }


    .navText{
        position:relative;
        font-size: 1em;
        color: #dbd2bb;
        /* a:link{
            color:#dbd2bb;
        } */
        a:hover{
            color: $brand-color;
            text-decoration: overline;
        }
        float: center;
        /* max-width: -webkit-calc(100%  - (#{$spacing-unit} * 4));
        max-width:         calc(100%  - (#{$spacing-unit} * 4)); */
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
        padding-top: $spacing-unit;
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
        z-index: 5000;
    }

    .title{
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
        color:#202425;
        font-family: 'Tangerine';
        font-size: 5em;
    }
    

    @media only screen and (max-width: 900px) {
        .title { font-size:300%;}
    }
}

/* Mobile */
.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #202425;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 60px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top:  $spacing-unit * 1.5;
        //top: 9px;
        right: 30px;
        background-color: $grey-color-dark;
        border: 1px solid #f5ece7;
        border-radius: 5px;
        text-align: right;

        .page-link{
            color: #f5ece7;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: #f5ece7;
                }
            }
        }

        .trigger {
            display: block;
            float: right;
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
 .site-footer {
    /* max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2)); */
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
 .page-content {
    /* max-width: -webkit-calc(100% - (#{$spacing-unit} * 2));
    max-width:         calc(100%  - (#{$spacing-unit} * 2)); */
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    display: inline-block;
    width: 100%;
}

.feature-credit, .feature-credit a{
    float: right;
    display: inline-block;
    margin-left: auto;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
 .post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    display: none;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
