/**
 * Site header, ie. sidebar
 */


header.sidebar{
	width: 30%;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	display: inline-block;
	position: fixed;
	background: white;
	height: 100vh;
	text-align: center;
    font-size: 1rem;

    @include media-query($on-laptop) {
        width: 100%;
        display: block;
        padding-bottom: 10vh;
        height: auto;
        position: relative;
        top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        border-right: 0;
    }

    .wrapper{
        position: relative;
        padding-top:15vh;
        padding-bottom: 5vh;
        height: 80vh;

        @include media-query($on-laptop) {
            position: relative;
            padding: 0;
            height: auto;
        }
    }

    @include media-query($on-laptop) {
        height: auto;
        padding: 0;
    }
}

.logo{
    width:30%;
    margin-bottom: 5%;
}

.site-title {
    font-size: 1.5em;
    letter-spacing: -1px;

    &,
    &:visited ,
    &:hover {
        color: #202425;
        text-decoration: none;
    }

    @include media-query($on-laptop) {
        margin: 20px;
        position: relative;
        top: 20px;
    }
}

.expandArrow{
    margin: 20px;
    display: none;
    text-decoration: none !important;
    // cursor: pointer;

    @include media-query($on-laptop) {
        display: block;
    }
}

.site-nav {
    .page-link {
        color: #202425;
        line-height: $base-line-height;
		display: block;
    }

    @include media-query($on-laptop) {
        display: none;
        padding-bottom: 30px;
    }
}

.about{
    position: absolute;
    bottom: 0;
    height: auto;
    margin: 10%;
    width: 80%;
    text-align: center;

    .aboutme{
        font-size: 0.9em;
        line-height: 1.5em;
        height: auto;
        margin: 5% 10%;
    }

    @include media-query($on-laptop) {
        display: none;
        position: relative;
        // margin: 0;
        width: 90%;
        margin: 5%;
    }
}

.socialIcon{
    border:0 !important;
    padding: 1%;
    margin: 1%;
    opacity:0.6;
    width: 20px;
    -o-transition: $transition-time;
    -ms-transition: $transition-time;
    -moz-transition: $transition-time;
    -webkit-transition: $transition-time;
    transition: $transition-time;
}

.socialIcon:hover{
    opacity:1;
}


