---
layout: base
title: Zoe Cai • Blog
permalink: /blog/
---
  
  <link rel="stylesheet" href="{{ "/css/blog.css" | prepend: site.baseurl }}">
</head>

<body>
  <div class="wrap">

    <header>
      <div class = "logo"><a href="{{site.url}}">Zoe Cai</a></div>
    </header>

    <main>
      <section id = "latest-post">
        {% for post in site.posts limit:1 %}

        
        <figure id = "feature-image">
          <a href="{{post.url}}">
          <img src="/blog/featureImages/{{post.image.feature}}">
          </a>
        </figure>

        <section id = "latest">
          <span id="latest-date">{{post.date | date: "%-d %B %Y" }}</span>
          <div class="feature-post">
          <h1><a href="{{post.url}}">{{post.title}}</a></h1>
          <span id = "latest-excerpt">{{ post.excerpt }}</span>
          </div>
          <div class="read-more"><a href="{{post.url}}">→ Read More</a></div>
        </section>
        {% endfor %}
      </section>

      <section id = "all-posts">
      {% for post in site.posts offset:1 %}
        <section class="post">

          <a href="{{post.url}}">
          <figure class="post-thumb" style="background:url({% if post.image %}/blog/featureImages/small/{{post.image.feature}}{% else %}/resources/vinesBg.png{% endif %}) no-repeat center center;background-size:cover">
          </figure>
          </a>

          <h1 class="post-title" ><a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a></h1>

          <div class = "post-excerpt">
            {{post.excerpt}}
          </div>

          <div class="read-more">
            <a href="{{post.url}}">→ Read More</a>
          </div>

        </section>
      {% endfor %}
      </section>
    </main>
    

  </div>
</body>

</html>



