@import url(http://fonts.googleapis.com/css?family=Tangerine);

html{
   background:  linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),url(/resources/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



body {
  padding:50px;
  font:14px/1.5 "Helvetica Neue", Helvetica, 'Lato', sans-serif;
  color:#777;
  font-weight:300;
}

header {
    font-family: 'Lato', sans-serif;
}

.motto {
    font-size: 3em;
    color: white;
    
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 45%;
    width: 100%;
}

.motto strong {
    font-family: 'Tangerine';
    font-size: 3em;
}

