@import url(http://fonts.googleapis.com/css?family=Tangerine);

html{
   background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

body {
    
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    
    
  padding:50px;
  font:14px/1.5 "Helvetica Neue", Helvetica, 'Lato', sans-serif;
  color:#777;
  font-weight:300;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

header {
    font-family: 'Lato', sans-serif;
}



.motto {
    font-size: 3em;
    color: white;
    
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.motto strong {
    font-family: 'Tangerine';
    font-size: 3em;
}

